<h1>Dashboard#index</h1>
<%= link_to "Create New Event", new_event_path%>

<h2>The events you created</h2>

<% @events.each do |event| %>
  <p><%= link_to event.title, event_path(event) %></p>

<% end %>
