.icon-new {
  height: 50px;
  width: 50px;
}

.dashboard-container{
  padding: 30px;
  h1 {
    text-align: center;
  }
  height: 80%
}

.dashbaord-events {
  display: flex;
}

.dashboard-event {
  flex-grow: 1;
  position: relative;
}

.dashboard-event .info {
  position: absolute;
}

.panel__dashboard-event-link {
  text-decoration: none;
}

.panel__dashboard-event-link:hover {
  text-decoration: none;
}

.panel__dashboard-event {
  height: 350px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  color: black;

  .event-poster {
    min-height: 180px;
    display: flex;
    align-items: center;

    img {
      width: 100%;
      vertical-align: middle;
    }
  }

  .event-date {
    font-size: 15px;
  }
  .event-location {
    font-size: 15px;
  }

}

.panel__dashboard-event:hover {
  color: #2DB94D;
  a {
    text-decoration: none;
  }
}
