// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";

.mt--1 {
  margin-top: 10px;
}

.mt--2 {
  margin-top: 20px;
}

.mb--1 {
  margin-top: 10px;
}

.mb--2 {
  margin-top: 20px;
}
