// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";
@import "tab";

.mt--1 {
  margin-top: 10px;
}

.mt--2 {
  margin-top: 20px;
}

.mb--1 {
  margin-top: 10px;
}

.mb--2 {
  margin-top: 20px;
}

html {
  position: relative;
  min-height: 100%;
}

body, .wrapper, .main-content {
  background: #EAEAEA;
  background-color: #EAEAEA;
}
