<h1>Events#edit</h1>

<p>Find me in app/views/events/new.html.erb</p>

<p>
  Event name:
  Event date:
  Event location:
  Number of volunteer neeeded:
  Event description:
  Category:
</p>

 <%= link_to "Save the changes", event_path(id: 1), method: :put %>
