// _show.scss

.event__qr-code img {
  height: 380px;
  width: 380px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.event-basic-label {
  font-size: 23px;
  font-weight: bold;
h4 {
  color: #999;
  text-align: center;
}

.tab-space {
  margin-top: 30px;
  margin-bottom: 30px;
}

.back-button {
  margin-top: 10px;
}
