<div banner>
  <div class="banner-container">
  <%= image_tag "together2.jpg", class: "first-banner", style: "height: 100%; width: 100%;"%>

    <div class="banner-content">
      <h1>Le Wagon Berlin</h1>
      <p>Learn to code with us in Berlin</p>
      <a class="btn btn-primary btn-lg">Start now</a>
    </div>


  </div>
</div>
