<div class="bottom-extra">
  <div class="profile-title text-center" style="color: grey;">
   <h3> 志愿者体验流程 </h3>
  </div>
  <div class="profileSteps">
    <div class="profileStep profileStepOne">
      <div class="connect"></div>
      <div class="circle-number">1</div>
      <%= image_tag "find.png", class: "icon" %>
      <div class="info">
        <h4>浏览活动</h4>
        <p> 寻找您最希望志愿的活动</p>
      </div>
    </div>
    <div class="profileStep profileStepOne">
      <div class="connect"></div>
      <div class="circle-number">2</div>
      <%= image_tag "apply.png", class: "icon" %>
      <div class="info">
        <h4>申请志愿</h4>
        <p>提交您的申请并且填写您的用户信息</p>
      </div>
    </div>
    <div class="profileStep">
      <div class="connect"></div>
      <div class="circle-number">3</div>
      <%= image_tag "volunteer.png", class: "icon" %>
      <div class="info">
        <h4>准备志愿</h4>
        <p>组织者会审核并通过志愿者申请</p>
      </div>
    </div>
  </div>
</div>
