<div style="margin-top: 1px; margin-bottom: 1px;">
  <div style="margin-top: 1px; margin-bottom: 1px;">
    <div class="line"></div>
  </div>
</div>

<div class="footer-container">
  <div id="footer-info">
    <ul class="list-inline text-center">
      <li><a href="#">关于我们</a> | </li>
      <li><a href="#"> 志愿者社群 </a> |</li>
      <li><a href="#"> 社区合作伙伴 </a></li>
    </ul>
  </div>
  <div class="footer-links">
    <a href="#"><i class="fa fa-github"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
  </div>
</div>
