.form-inputs {
  padding: 10px 0px !important;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  .input-group {
    margin-top: 14px;
    opacity: 0.8;
  }
}
.login-banner {
  color: white;
  text-align: center;
  height: 83vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-group-addon {
  color: #2DB94D;
}

.registration-links a {
  color: white;
}
.form-control {
  width: 200px;
}
