.footer-container {
  background: #2DB94D;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 50px;
  color: white;
  font-size: 12px;
  bottom: 0px;
}

.footer-container a {
  color: white;
  font-weight: bold;
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
