body {
  background:white;
  font-family:sans-serif;
}

.homepage-bottom {
  padding-top: 30px;
  margin-bottom: -5px;

  .profile-title {
    margin-bottom: 60px;
  }
}

.profileSteps {
  display: flex;
  margin: 10px auto;
  width: 70%;
  height: 260px;
  background-color: white;
  border-radius: 12px;
}
.profileStep {
  margin-top: 10px;
  flex-grow: 1;
  position: relative;
  height: 236px;
  background-color: white;

  .icon {
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: 20%;
    position: absolute;
  }
}
.profileSteps .connect {
  position:absolute;
  top:10px;
  left:0;
  width:100%;
  height:10px;
  background-color:#2DB94D;
}

.profileStep .circle-number {
  position: absolute;
  top:-10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width:50px;
  height:50px;
  background-color:#2DB94D;
  border-radius: 30px;
  color:white;
  font-size:26px;
  line-height:50px;
  text-align:center;
}
.profileStep .info {
  position:absolute;
  bottom:0;
  width:100%;
  color:#2DB94D;
  line-height:20px;
  text-align:center;
  p{
    color: grey;
  }
}

.profileStepOne {
  border-right-style: dotted;
  border-right-color: #2DB94D;
}

.SignUp {
  height: 30%;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  color: white;
  text-align: center;
}

.SignUp h2 {
  padding-top: 16px;
  color: white;
}

.SignUp .btn-default {
  color: #2DB94D;
  font-weight: bold;
}

