.icon {
  height: 80px;
  width: 80px;
  margin-top: 35px;
  position: absolute;
  left: 21%;
}

body {
  background:white;
  font-family:sans-serif;
}

.homepage-bottom {
  padding: 30px 0;
  margin-bottom: 60px;

  .profile-title {
    margin-bottom: 60px;
  }
}



.profileSteps {
  display: flex;
  margin: 10px auto;
  width: 70%;
  height: 260px;
}
.profileStep {
  flex-grow: 1;
  position: relative;
  height: 236px;
  background-color: white;
  margin-right: 40px;
}
.profileSteps .connect {
  position:absolute;
  top:10px;
  left:0;
  width:337px;
  height:10px;
  margin-left: 5px;
  background-color:#2DB94D;
  border-radius:5px;
}
.profileStep .circle-number {
  position:absolute;
  top:0;
  left:0;
  width:30px;
  height:30px;
  background-color:#2DB94D;
  border-radius:15px;
  color:white;
  font-size:16px;
  line-height:30px;
  text-align:center;
}
.profileStep .info {
  position:absolute;
  bottom:0;
  left:-10px;
  width:200px;
  color:#2DB94D;
  line-height:20px;
  text-align:center;
  p{
    color: grey;
  }
}
.profileStep .profileStepOne {
  border-right-style: dotted;
  border-right-color: #2DB94D;
}

.SignUp {
  height: 30%;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  color: white;
  text-align: center;
}

.SignUp h2 {
  padding-top: 16px;
  color: white;
}

.SignUp .btn-default {
  color: #2DB94D;
  font-weight: bold;
}

